<h1>Edit Page: <%= @title %></h1>
<div>
	<form method="post" action="/<%=@title%>">
		<input type="hidden" name="_method" value="put">
		<fieldset>
			<label for="content">Content:</label>
			<textarea rows="10" columns="10" id="content" name="content">
				<%= @content %>
			</textarea>
		</fieldset>
		<input type="submit" value="Submit">
	</form>
</div>

<a href="/">Back To Index</a>